gitpython~=3.1.43
imageio~=2.36.0
mock~=5.1.0
numpy~=2.1.2
Pillow~=11.0.0
pydicom~=3.0.1
pylibjpeg[all]~=2.0.0
torch~=2.5.1
torchvision~=0.20.1
tqdm~=4.66.6
# Train/test only
pandas
lifelines==0.24.15
scikit-image>=0.18.2
scikit-learn~=1.5.2
scipy~=1.14.1
