pandas==1.4.3
gitpython==3.1.26
imageio==2.13.1
mock==4.0.3
numpy==1.22.1
Pillow==9.0.0
pydicom==2.3.0
scipy==1.7.3
torch==1.9.0
torchvision==0.10.0
tqdm==4.62.3
# Train/test only
scikit-image==0.18.2
scikit-learn==0.23.2
lifelines==0.24.15
